AbacasWebX.Exchange/Connected Services/RateService/RateManagerService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://abacaswebxrate20190515102616.azurewebsites.net/RateManagerService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://abacaswebxrate20190515102616.azurewebsites.net/RateManagerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AbacasX.Model.DataContracts" />
  <xs:element name="SubscribeToAssetRateUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssetId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeToAssetRateUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnSubscribeToAssetRateUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssetId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnSubscribeToAssetRateUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeToCurrencyPairRateUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Currency1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Currency2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeToCurrencyPairRateUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnSubscribeToCurrencyPairRateUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Currency1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Currency2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnSubscribeToCurrencyPairRateUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeToTokenPairRateUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Token2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeToTokenPairRateUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnSubscribeToTokenPairRateUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Token2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnSubscribeToTokenPairRateUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeToTokenRateUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TokenId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeToTokenRateUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnSubscribeToTokenRateUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TokenId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnSubscribeToTokenRateUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnSubscribeAllRateUpdates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnSubscribeAllRateUpdatesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAssetListResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTokenList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTokenListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetTokenListResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetRateList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetRateListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AbacasX.Model.DataContracts" minOccurs="0" name="GetAssetRateListResult" nillable="true" type="q3:ArrayOfAssetRateData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTokenRateList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTokenRateListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AbacasX.Model.DataContracts" minOccurs="0" name="GetTokenRateListResult" nillable="true" type="q4:ArrayOfTokenRateData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTokenPairRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token1Id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Token2Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTokenPairRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AbacasX.Model.DataContracts" minOccurs="0" name="GetTokenPairRateResult" nillable="true" type="q5:TokenPairRateData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTokenRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token1Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTokenRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AbacasX.Model.DataContracts" minOccurs="0" name="GetTokenRateResult" nillable="true" type="q6:TokenRateData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterWithRateManager">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterWithRateManagerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnRegisterWithRateManager">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnRegisterWithRateManagerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AssetRateUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AbacasX.Model.DataContracts" minOccurs="0" name="AssetRateRecord" nillable="true" type="q7:AssetRateData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrencyPairRateUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AbacasX.Model.DataContracts" minOccurs="0" name="CurrencyPairRateRecord" nillable="true" type="q8:CurrencyPairRateData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TokenRateUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AbacasX.Model.DataContracts" minOccurs="0" name="TokenRateRecord" nillable="true" type="q9:TokenRateData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TokenPairRateUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AbacasX.Model.DataContracts" minOccurs="0" name="TokenPairRateRecord" nillable="true" type="q10:TokenPairRateData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>